apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp1-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp1
  template:
    metadata: # Dictionary
      name: myapp1-pod
      labels:
        app: myapp1 # Key value pairs
    spec:
      containers: # List
      - name: myapp1-container
        image: stacksimplify/kubenginx:1.0.0
        ports:
          - containerPort: 80
